node.environment={{node_environment}}
node.id={{node_uuid}}
node.data-dir={{node_data_dir}}
catalog.config-dir={{catalog_config_dir}}
node.server-log-file={{node_server_log_file}}
node.launcher-log-file={{node_launcher_olog_file}}

